
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.to-left {
	float: left;
}
.to-right {
	float: right;
}
.text-right {
	text-align: right;
}
.container {
	width: 910px;
	margin: 0 auto;
	background-color: #fff;
}
.header-top	{
	padding-left: 6px;
}
.phone {
	margin-top: 23px;
	float: left;
}
.phone-icon {
	background-image: url(../img/phone-icon.png);
	display: block;
	float: left;
	width: 22px;
	margin-right: 5px;
	height: 21px;
}
.phone-number {
	font-size: 18px;
	color: #5e696d;
	letter-spacing: 0.4px;
}
.autorization {
	float: left;
	margin-top: 16px;
	margin-left: 17px;
	background-color: #0f3c61;
	padding: 1px 10px 4px 8px;
	border-radius: 5px;
	border-top: 1px solid #a6c3cf;
	-webkit-box-shadow: 2px 3px 4px 0px rgba(140,150,154,1);
	-moz-box-shadow: 2px 3px 4px 0px rgba(140,150,154,1);
	box-shadow: 2px 3px 4px 0px rgba(140,150,154,1);
}
.user-icon {
	width: 14px;
	height: 18px;
	display: block;
	margin-top: 3px;
	float: left;
	background-image: url(../img/user-icon.png);
	margin-right: 4px;
}
input[name="user-name"],
input[name="user-password"] {
	width: 113px;
	font-family: "Lucida Sans Unicode";
	height: 16px;
	padding-left: 3px;
	padding-bottom: 2px;
	font-size: 11px;
	margin-right: 3px;
}
input[name="user-password"] {
	margin-right: 4px;
}
.forgot-password {
	color: #bfbfbf;
	font-size: 12px;
	font-family: "Lucida Sans Unicode";
	margin-left: 16px;
	line-height: 13px;
	margin-bottom: -1px;
	border-bottom: 1px solid #bfbfbf;
	display: inline-block;
	vertical-align: bottom;
}
.autorization-btn {
	font-size: 11px;
	color: #fff;
	letter-spacing: 0.2px;
	margin-bottom: -1px;
	display: inline-block;
	vertical-align: text-bottom;
}
.autorization span {
	color: #fff;
	font-size: 11px;
	display: inline-block;
	vertical-align: bottom;
}
.header-top__buttons {
	float: left;
	margin-left: 19px;
	margin-top: 18px;
	border: 1px solid #e9e9e9;
	border-radius: 20px;
	padding: 0px 7px 2px 7px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(140,150,154,1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(140,150,154,1);
	box-shadow: 0px 1px 2px 0px rgba(140,150,154,1);
}
.header-top__buttons li {
	display: inline-block;
}
.header-top__buttons a {
	display: inline-block;
	margin-right: 4px;
}
.header-slide {
	width: 100%;
	height: 236px;
	margin-top: 10px;
	background-image: url(../img/top-slide.jpg);
}
.main-nav {
	margin-top: 6px;
	background: -moz-linear-gradient(to top, #020202, #2d3236);
	background: -webkit-linear-gradient(to top, #020202, #2d3236);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#2d3236',GradientType=0 );
	background: linear-gradient(to top, #020202, #2d3236);
	padding-left: 132px;
	padding-right: 16px;
	border-top: 4px solid #4d5663;
	border-radius: 5px;
	padding-bottom: 3px;
	-webkit-box-shadow: 2px 3px 4px 0px rgba(140,150,154,1);
	-moz-box-shadow: 2px 3px 4px 0px rgba(140,150,154,1);
	box-shadow: 2px 3px 4px 0px rgba(140,150,154,1);
}
.main-nav__list {
	float: left;
}
.main-nav__item {
	float: left;
}
.main-nav__item a {
font-family: "Lucida Sans Unicode";
    font-size: 14px;
    text-transform: uppercase;
    color: #b1bcc0;
    line-height: 27px;
    display: block;
    padding: 0 15px 0 15px;
}
.main-nav__item:last-child a {
	padding: 0 8px;
}
.main-nav__item a:hover {
	color: #fff;
	border-radius: 25px;
	background-color: #124569;
}
.cut {
	padding-top: 3px;
	float: right;
}
.cut-icon {
	margin-right: 7px;
	margin-top: 2px;
	width: 21px;
	height: 17px;
	display: block;
	float: left;
	background-image: url(../img/cut.png);
}
.cut-product,
.cut-price {
	font-size: 11px;
	color: #929b9f;
}
.cut-price {
	margin-right: 11px;
	margin-left: 10px;
}
.cut-numb {
	font-size: 12px;
	color: #0d5a8f;
}
/**/
.wrapper-forms {
	padding-top: 12px;
}
/*формы*/
.search-car {
	display: inline-block;
	width: 415px;
	height: 133px;
	margin-bottom: 14px;
	margin-left: 4px;
	position: relative;
	border: 1px solid #b8b8b9;
	border-radius: 19px;
	padding: 3px 13px 0 17px;
	-webkit-box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
	box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
}
.search-car__header {
	margin-bottom: 4px;
	padding-left: 4px;
	padding-right: 11px;
}
.search-car__cat-title {
	font-size: 10px;
	color: #154468;
	font-weight: 900;
}
.search-car__title {
	font-size: 12px;
	font-weight: 900;
	color: #154467;
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	text-align: center;
}
.search-car__left-side {
	position: relative;
	width: 47%;
	margin-right: 0px;
}
.search-car__right-side {
	position: relative;
	width: 47%;
}
.search-car__row {
	clear: both;
	display: table;
	margin-bottom: 2px;
}
.label-for-select {
	font-size: 10px;
	color: #000000;
	line-height: 10px;
	display: inline-block;
	width: 75px;
	vertical-align: middle;
}
.label-gray {
	color: #77858b;
}
.form-select {
	width: 103px;
	border-left: 2px solid #a8a8a8;
	border-top: 2px solid #a8a8a8;
	height: 17px;
}
.form-select-year {
	width: 57px;
}
.form-btn {
	margin-right: 12px;
	font-size: 11px;
	margin-top: 2px;
	color: #154467;
	text-transform: uppercase;
	text-decoration: underline;
	float: right;
	font-style: italic;
	margin-bottom: 8px;
}
/**search-tire форма**/
.search-tire {
	width: 194px;
	height: 135px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	padding: 0px 13px 0 10px;
	border: 1px solid #b8b8b9;
	border-radius: 19px;
	-webkit-box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
	box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
}
.search-tire__title {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	color: #114165;
	font-weight: 900;
	margin-bottom: 6px;
}
.search-tire__row {
	margin-top: 4px;
	margin-left: 2px;
}
.search-tire__strip {
	font-size: 12px;
	margin-left: 1px;
	margin-right: 3px;
	color: #000;
	font-weight: 700;
}
.search-tire .label-for-select {
	width: 43px;
}
.form-select-size {
	width: 50px;
}
.form-select-radius {
	width: 45px;
	margin-top: 1px;
}
.season {
	margin-top: -3px;
	margin-left: 4px;
}
.wrap-for-season-chck {
	width: 126px;
	margin-top: -13px;
	float: right;
	font-size: 12px;
}
.season-chck-item {
	height: 14px;
}
.season-chck-item input {
	width: 12px;
	margin-right: 0;
	height: 11px;
	vertical-align: middle;
}
.search-tire .form-btn {
	margin-bottom: 2px;
	margin-top: 1px;
	margin-right: 9px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/********content**********/
.content {
	width: 910px;
	margin: 0 auto;
}
.categori-name img {
	float: left;
	margin-right: 5px;
}
.categori-name {
	font-family: "Lucida Sans Unicode";
	padding-left: 1px;
	line-height: 23px;
	padding-top: 2px;
	padding-bottom: 1px;
	text-transform: uppercase;
	color: #114165;
	display: block;
	width: 181px;
	border-radius: 13px;
	border: 1px solid #8b979c;
}
.categori-name-type-1 {
	word-spacing: 3px;
    letter-spacing: 0.1px;
	font-size: 12px;
	margin-bottom: 13px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(140,150,154,1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(140,150,154,1);
	box-shadow: 0px 2px 2px 0px rgba(140,150,154,1);
}
.categori-name-type-2 {
	width: 151px;
	padding-left: 4px;
	padding-top: 1px;
	font-size: 14px;
}
.categori-name-type-2 img {
	margin-right: 3px;
}
.cut-ptoduct__item {
	margin-left: 51px;
	padding-left: 0px;
	list-style-image: url(../img/list-style-icon.png);
}
.cut-ptoduct__item:hover {
	list-style-image: url(../img/list-style-icon-active.png);
}
.cut-ptoduct__item a {
	font-family: "Lucida Sans Unicode";
	font-size: 13px;
	color: #465961;
	line-height: 26px;
	margin-left: -4px
}
.cut-ptoduct__item:last-child a {
    line-height: 22px;
}
.cut-ptoduct__item a:hover {
	font-style: italic;
	color: #0c3256;
	font-weight: 900;
	text-decoration: underline;
}
.cut-ptoduct {
	float: left;
	width: 190px;
	margin-top: 3px;
}
.product-items {
	width: 527px;
	float: left;
	padding: 8px 10px 12px 10px;
	background: -moz-linear-gradient(to top, #95a8b1, #e4e7e8);
	background: -webkit-linear-gradient(to top, #95a8b1, #e4e7e8);
	background: linear-gradient(to top, #95a8b1, #e4e7e8);
}
.product-items__item {
	width: 138px;
	text-align: center;
	float: left;
	margin: 9px 16px 16px 14px;
}
.product-items__item figcaption,
.product-items__item span {
	display: block;
}
.product-items__image {
	width: 100%;
	padding: 5px 0 0 0;
	background-color: #fff;
	border-radius: 9px;
	border: 1px solid #bfc6c8;
	margin-bottom: 0px;
}
.product-items__title {
	color: #206988;
	font-size: 15px;
	font-weight: 700;
	line-height: 13px;
	font-family: "Lucida Sans Unicode";
}
.product-items__subtitle {
	font-size: 13px;
	font-family: "Lucida Sans Unicode";
	color: #1f2528;
	margin-top: 6px;
	margin-left: 4px;
	margin-bottom: 8px;
	line-height: 0px;
}
.product-items__price {
	font-weight: bold;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	font-size: 16px;
	color: #114165;
	word-spacing: 0px;
	letter-spacing: 0px;
	margin-left: 14px;
	margin-top: 3px;
}
.product-items__price-text {
	font-size: 12px;
}
.cut-brends {
	float: right;
}
.cut-brends .categori-name-type-1 {
    margin-bottom: 14px;
    letter-spacing: 1.2px;
}
.cut-brends .categori-name-type-2 {
	margin-left: 10px;
	width: 139px;
	margin-bottom: 8px;
}
.cut-brends .categori-name-type-2 img {
	margin-right: 4px;
}
.categori-name-type-2-marg {
	margin-top: 12px;
}
.brends-form label {
	font-size: 12px;
	color: #465961;
	cursor: pointer;
	margin-left: 5px;
	font-weight: 700;
	vertical-align: text-top;
}
.brends-form__row {
	margin: 7px 0 -2px 17px;
}
.cut-brends__chk {
}
.brend-btn {
	    margin-top: 17px;
    margin-left: 21px;
    background: -moz-linear-gradient(to top, #0e385d, #1f6787);
    background: -webkit-linear-gradient(to top, #0e385d, #1f6787);
    background: linear-gradient(to top, #0e385d, #1f6787);
    line-height: 26px;
    padding: 0 12px 0 13px;
    letter-spacing: 1px;
    border-radius: 25px;
    color: #e5e9ea;
    font-size: 11px;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(140,150,154,1);
    -moz-box-shadow: 1px 2px 4px 0px rgba(140,150,154,1);
    box-shadow: 1px 2px 4px 0px rgba(140,150,154,1);
}
.venders {
	width: 100%;
	text-align: center;
	margin-top: 39px;
	padding-left: 9px;
	margin-bottom: 28px;
}
.venders__items {
	display: inline-block;
	vertical-align: top;
}
.venders a {
	margin-right: 9px;
	vertical-align: top;
	display: block;
	background-image: url(../img/vendor-sprite.png);
	background-repeat: no-repeat;
}
.venders__items:nth-child(1) a {
	width: 83px;
	height: 25px;
}
.venders__items:nth-child(2) a {
	width: 96px;
	height: 25px;
	background-position: -84px 0px;
}
.venders__items:nth-child(3) a {
	width: 79px;
	height: 25px;
	background-position: -181px 0px;
}
.venders__items:nth-child(4) a {
	width: 59px;
	height: 25px;
	background-position: -261px 0;
}
.venders__items:nth-child(5) a {
	width: 77px;
	height: 25px;
	background-position: -322px 0;
}
.venders__items:nth-child(6) a {
	width: 56px;
	height: 25px;
	background-position: -403px 0;
}
.venders__items:nth-child(7) a {
	width: 61px;
	height: 25px;
	background-position: -462px 0;
}
.venders__items:nth-child(8) a {
	width: 72px;
	height: 25px;
	background-position: -526px 0;
}
footer {
	width: 910px;
	margin: 0 auto;
	background-color: #213a4d;
	padding-bottom: 52px;
}
.footer-nav {
    width: 373px;
    padding-left: 40px;
    margin: 0 auto;
    padding-top: 10px;
}
.footer-nav__item {
	float: left;
	color: #bec6c9;
	font-size: 10px;
}
.footer-nav__item a {
    font-size: 12px;
    color: #bec6c9;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    padding: 0 10px 0 13px;
    border-right: 1px solid #7a878f;
    border-left: 1px solid #8d989;
}
.footer-nav__item a:hover {
	color: #52abcb;
}
.footer-nav__item:first-child a{
border-left: 0;
    padding-left: 0;
    padding-right: 11px;
}
.footer-nav__item:last-child a {
	border-right: 0;
	padding-right: 0;
	padding-left: 17px;
}
.footer-nav__item:nth-child(2) a {
    padding: 0 12px 0 13px;
}
.footer-nav__item:nth-child(3) a {
    padding: 0px 12px 0 13px;
    letter-spacing: 0.1px;
}
footer p {
	font-size: 10px;
	color: #7f4740;
	text-align: center;
	margin-top: 15px;
}
